---
import { getEntry } from 'astro:content'
import Layout from '~/layouts/Layout.astro'

const { slug } = Astro.params
const blog = await getEntry('blog', slug as string)

if (!blog) return Astro.redirect('/404')

const { Content } = await blog.render()
---

<Layout title={blog.data.title} description={blog.data.title}>
  <main
    class='mx-auto flex max-w-7xl flex-col px-8 py-8 md:px-14 md:py-12 lg:py-20 lg:pl-60'
  >
    <article
      class='prose lg:prose-xl prose-h2:text-slate-300 prose-p:text-slate-300'
    >
      <h2>{blog.data.title}</h2>
      <Content />
    </article>
  </main>
</Layout>
