@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ca8a04 #134e4a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #134e4a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ca8a04;
  border-radius: 14px;
  border: 3px solid #134e4a;
}

@layer base {
  :root {
    --accent: 255 190 111;
    --accent-purple: 202 166 247;
  }
}

html,
body,
* {
  scrollbar-gutter: stable;
}

* {
  min-width: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
