---
import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.astro'
import Wrapper from '../components/Wrapper.astro'
import Projects from '../components/Projects.astro'
import Blogs from '../components/Blogs.astro'
import Footer from '../components/Footer.astro'
import About from '../components/About.astro'

export const prerender = true
---

<Layout title="Saifur Rahman">
  <Wrapper>
    <Header />
    <main class="grid gap-16 lg:pt-20">
      <About />

      <!-- PROJECTS -->
      <Projects />

      <!-- BLOGS -->
      <Blogs />

      <Footer />
    </main>
  </Wrapper>
</Layout>
