---
import Layout from '~/layouts/Layout.astro'

import Header from '~/components/Header.astro'
import Wrapper from '~/components/Wrapper.astro'
import Projects from '~/components/Projects.astro'
import Blogs from '~/components/Blogs.astro'
import Footer from '~/components/Footer.astro'
import About from '~/components/About.astro'
import Skills from '~/components/Skills.astro'
import BackgroundDots from '~/components/ui/BackgroundDots.astro'
import BackgroundGrid from '~/components/ui/BackgroundGrid.astro'
import NavDesktop from '~/components/NavDesktop.astro'
---

<script>
  import { loglib } from '@loglib/tracker'
  loglib.record({
    id: 'saifur_pages',
  })
</script>

<Layout
  title='Saifur Rahman'
  description='Personal website and blog of Saifur Rahman, a full-stack web developer.'
  image='https://github.com/devSaifur/saifur.dev/raw/main/src/images/thumbnail.png'
>
  <BackgroundDots />
  <BackgroundGrid />

  <Wrapper>
    <NavDesktop />

    <div class='grid gap-y-12 lg:grid-cols-2'>
      <Header />
      <main class='grid gap-y-12 lg:pt-32'>
        <About />

        <!-- TECHNOLOGIES -->
        <Skills />

        <!-- PROJECTS -->
        <Projects />

        <!-- BLOGS -->
        <Blogs />

        <Footer />
      </main>
    </div>
  </Wrapper>
</Layout>
