---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import GitHub from "../components/logos/GItHub.astro";
import LinkedIn from "../components/logos/LinkedIn.astro";
import X from "../components/logos/X.astro";
import Arrow from "../components/logos/Arrow.astro";
---

<Layout title="Saifur Rahman">
  <div class="mx-auto grid max-w-7xl gap-16 px-6 md:px-12 lg:grid-cols-2">
    <header
      class="flex flex-col items-center gap-4 pt-12 text-center lg:sticky lg:top-0 lg:h-screen lg:gap-10 lg:py-36"
    >
      <Image
        src="/src/assets/images/profile-picture.jpg"
        width={150}
        height={150}
        alt="profile picture"
        class="rounded-full border border-slate-500 lg:mx-auto lg:h-60 lg:w-60"
      />

      <div class="space-y-2 lg:mx-auto lg:space-y-4">
        <h1 class="text-3xl font-bold text-slate-50 lg:text-5xl">
          Saifur Rahman
        </h1>
        <h2 class="text-lg font-medium text-slate-100 lg:text-xl">
          Full-stack software engineer
        </h2>
        <p class="leading-normal">I do magic on the web, like mister Potter</p>
      </div>

      <div class="flex gap-8 lg:gap-10 lg:pt-56">
        <GitHub class="h-6 w-6 cursor-pointer lg:h-8 lg:w-8" />
        <LinkedIn class="h-6 w-6 cursor-pointer lg:h-8 lg:w-8" />
        <X class="h-6 w-6 cursor-pointer lg:h-8 lg:w-8" />
      </div>
    </header>

    <main class="grid gap-16 lg:pt-20">
      <section class="space-y-4">
        <h2 class="text-lg font-bold uppercase text-slate-100">About</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
          sint repellendus optio incidunt ipsam deserunt! Explicabo sunt harum
          quam culpa rerum exercitationem consequuntur officia necessitatibus?
          Expedita, officia beatae! Explicabo, eveniet.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odio
          enim, incidunt sint quae nam officia laborum itaque, sapiente adipisci
          dolorem voluptate, assumenda magni omnis quis ea temporibus rem
          quisquam!
        </p>
      </section>

      <section id="projects" class="space-y-10">
        <h2 class="text-lg font-bold uppercase text-slate-100">Projects</h2>
        <div class="flex flex-col gap-4 hover:shadow-primary md:flex-row">
          <div class="flex flex-col gap-4 md:order-2 md:gap-2">
            <h3 class="flex items-center font-medium text-slate-100">
              Google Keep Clone <span class="ml-2"><Arrow /></span>
            </h3>
            <p class="text-sm text-slate-400">
              A simple note-taking app inspired by Google Keep, built with
              React, Tailwind CSS, and Firebase.
            </p>
            <ul class="space-x-2 text-teal-300">
              <span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >React</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Tailwind CSS</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Firebase</span
              >
            </ul>
          </div>
          <Image
            src="/src/assets/images/project-3.png"
            width="200"
            height="150"
            alt="project-image-3"
            class="rounded-sm md:order-1"
          />
        </div>

        <div class="flex flex-col gap-4 hover:shadow-primary md:flex-row">
          <div class="flex flex-col gap-4 md:order-2 md:gap-2">
            <h3 class="flex items-center font-medium text-slate-100">
              Google Keep Clone <span class="ml-2"><Arrow /></span>
            </h3>
            <p class="text-sm text-slate-400">
              A simple note-taking app inspired by Google Keep, built with
              React, Tailwind CSS, and Firebase.
            </p>
            <ul class="space-x-2 text-teal-300">
              <span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >React</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Tailwind CSS</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Firebase</span
              >
            </ul>
          </div>
          <Image
            src="/src/assets/images/project-3.png"
            width="200"
            height="150"
            alt="project-image-3"
            class="rounded-sm md:order-1"
          />
        </div>

        <div class="flex flex-col gap-4 hover:shadow-primary md:flex-row">
          <div class="flex flex-col gap-4 md:order-2 md:gap-2">
            <h3 class="flex items-center font-medium text-slate-100">
              Google Keep Clone <span class="ml-2"><Arrow /></span>
            </h3>
            <p class="text-sm text-slate-400">
              A simple note-taking app inspired by Google Keep, built with
              React, Tailwind CSS, and Firebase.
            </p>
            <ul class="space-x-2 text-teal-300">
              <span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >React</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Tailwind CSS</span
              ><span
                class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5"
                >Firebase</span
              >
            </ul>
          </div>
          <Image
            src="/src/assets/images/project-3.png"
            width="200"
            height="150"
            alt="project-image-3"
            class="rounded-sm"
          />
        </div>
      </section>

      <section class="space-y-6">
        <h2 class="text-lg font-bold uppercase text-slate-100">Blogs</h2>
        <article>
          <p>2024 Jan 6</p>
          <h3 class="flex items-center text-lg text-slate-100">
            6 things I learned throgh programming <span class="ml-2"
              ><Arrow /></span
            >
          </h3>
        </article>
        <article>
          <p>2024 Jan 6</p>
          <h3 class="flex items-center text-lg text-slate-100">
            6 things I learned throgh programming <span class="ml-2"
              ><Arrow /></span
            >
          </h3>
        </article>
        <article>
          <p>2024 Jan 6</p>
          <h3 class="flex items-center text-lg text-slate-100">
            6 things I learned throgh programming <span class="ml-2"
              ><Arrow /></span
            >
          </h3>
        </article>
      </section>

      <footer class="pb-12 pt-16 text-sm text-slate-400">
        Loosely designed in Figma and coded in Visual Studio Code by yours
        truly. Built with Next.js and Tailwind CSS, deployed with Vercel. All
        text is set in the Inter typeface.
      </footer>
    </main>
  </div>
</Layout>
