---
import Layout from '~/layouts/Layout.astro'

import Header from '~/components/Header.astro'
import Wrapper from '~/components/Wrapper.astro'
import Projects from '~/components/Projects.astro'
import Blogs from '~/components/Blogs.astro'
import Footer from '~/components/Footer.astro'
import About from '~/components/About.astro'
import Skills from '~/components/Skills.astro'
---

<script>
  import { loglib } from '@loglib/tracker'
  loglib.record({
    id: 'saifur_pages',
  })
</script>

<Layout
  title='Saifur Rahman'
  description='Personal website and blog of Saifur Rahman, a full-stack web developer.'
  image='https://github.com/devSaifur/saifur.dev/raw/main/src/images/thumbnail.png'
>
  <Wrapper>
    <Header />
    <main class='grid gap-12 lg:pt-12'>
      <About />

      <!-- TECHNOLOGIES -->
      <Skills />

      <!-- PROJECTS -->
      <Projects />

      <!-- BLOGS -->
      <Blogs />

      <Footer />
    </main>
  </Wrapper>
</Layout>
