<section class="space-y-4 text-white">
  <h2 class="text-lg font-bold uppercase text-accent-purple">About</h2>
  <p class="text-justify">
    Hello there! I'm Saifur Rahman, a developer specializing in crafting things
    in the world of full-stack web development. I'm someone with a keen eye for
    detail, I'm very proud of what I'm able to do as a professional developer. I
    take pride in my work and my ability to keep learning and growing.
  </p>
  <p class="text-justify">
    I like <a
      class="border-b border-accent/80 text-accent"
      target="_blank"
      href="https://en.wikipedia.org/wiki/Cricket">Cricket</a
    >, and also playing around with new technologies, currently infatuated with
    NextJS and Tailwind CSS.
  </p>
</section>
