<section class="space-y-4">
  <h2 class="text-lg font-bold uppercase text-slate-100">About</h2>
  <p>
    Greetings! I'm Saifur Rahman, a 23-year-old self-taught passionate freelance
    developer specializing in crafting things on the web. I'm someone with a
    keen eye for detail and I'm very proud of my commitment to my clients, I
    take pride in being the bridge between your vision and my technology.
  </p>
  <p>
    I like swimming and playing around with new technologies, currently
    infatuated with NextJS and Tailwind CSS.
  </p>
</section>
