---
import type { CollectionEntry } from "astro:content";

type Props = {
  blog: CollectionEntry<"blogs">;
};

const { blog } = Astro.props;
---

<article>
  <a href={`/blog/${blog.slug}`}>
    <h2>{blog.data.title}</h2>
    <p class="line-clamp-2">{blog.body}</p>
  </a>
</article>
