<footer class='pb-12 pt-16 text-justify text-sm text-white/80'>
  Loosely designed and coded in <span class='text-accent/70 font-semibold'
    >VS Code</span
  > by yours truly. Built with <span class='text-accent/70 font-semibold'
    >Astro</span
  >, <span class='text-accent/70 font-semibold'>React</span> and <span
    class='text-accent/70 font-semibold'>Tailwind CSS</span
  >, deployed to <span class='text-accent/70 font-semibold'>Cloudflare</span>.
  All text is set in the <span class='text-accent/70 font-semibold'>Geist</span>
  typeface.
</footer>
