<footer class="pb-12 pt-16 text-sm text-slate-400">
  Loosely designed and coded in <span class="font-semibold text-slate-200"
    >Visual Studio Code</span
  > by yours truly. Built with <span class="font-semibold text-slate-200"
    >Astro</span
  > and <span class="font-semibold text-slate-200">Tailwind CSS</span>, deployed
  with <span class="font-semibold text-slate-200">Vercel</span>. All text is set
  in the <span class="font-semibold text-slate-200">Inter</span> typeface.
</footer>
