<footer class='py-8 text-justify text-sm text-white/80'>
  Loosely designed and coded in <span class='font-semibold text-accent/70'
    >VS Code</span
  > by yours truly. Built with <span class='font-semibold text-accent/70'
    >Astro</span
  >, <span class='font-semibold text-accent/70'>React</span> and <span
    class='font-semibold text-accent/70'>Tailwind CSS</span
  >, deployed to <span class='font-semibold text-accent/70'>Cloudflare</span>.
  All text is set in the <span class='font-semibold text-accent/70'>Geist</span>
  typeface.
</footer>
