---
import { Image } from 'astro:assets'
import SocialLinks from './Socials.astro'
---

<header
  class="flex flex-col items-center gap-6 pt-12 text-center lg:sticky lg:top-0 lg:h-screen lg:gap-10 lg:py-36"
>
  <Image
    src="/images/profile-picture.webp"
    alt="profile"
    width={200}
    height={200}
    loading={'eager'}
    class="size-36 rounded-full border-2 border-accent-purple lg:mx-auto lg:size-60"
  />
  <div class="space-y-2 text-accent-purple lg:mx-auto lg:space-y-4">
    <h1
      class="text-3xl font-bold text-sky-200/95 lg:text-5xl lg:font-extrabold"
    >
      Saifur Rahman
    </h1>
    <h2 class="text-lg font-bold lg:text-xl">Full-Stack Web Developer</h2>
    <p class="leading-normal">I program things for the web.</p>
  </div>

  <SocialLinks />
</header>
