---
import { Image } from 'astro:assets'

import ProfilePicture from '../images/profile-picture.webp'
import SocialLinks from './Socials.astro'
---

<header
  class='flex flex-col items-center gap-6 pt-12 text-center lg:sticky lg:top-0 lg:h-screen lg:gap-10 lg:py-36'
>
  <Image
    src={ProfilePicture}
    alt='profile'
    sizes={`(max-width: 360px) 15vw, (max-width: 720px) 30vw, (max-width: 1600px) 30vw, 30vw`}
    class='size-36 rounded-full border border-slate-500 lg:mx-auto lg:size-60'
  />
  <div class='space-y-2 lg:mx-auto lg:space-y-4'>
    <h1 class='text-3xl font-bold text-slate-50 lg:text-5xl'>Saifur Rahman</h1>
    <h2 class='text-lg font-medium text-slate-100 lg:text-xl'>
      Full-Stack Web Developer
    </h2>
    <p class='leading-normal'>I program things for the web.</p>
  </div>

  <SocialLinks />
</header>
