<nav
  class='z-50 hidden w-full list-none justify-center gap-x-28 pt-4 text-lg font-semibold text-accent md:flex lg:sticky'
>
  <ul
    class='my-auto flex gap-x-16 rounded-xl bg-stone-900 px-8 py-3 shadow-[0_10px_20px_rgba(15,_118,_110,_0.7)] *:cursor-pointer *:rounded-xl *:bg-teal-800 *:px-5 *:py-1'
  >
    <li><a>/</a></li>
    <li><a>Blogs</a></li>
    <li><a>Projects</a></li>
  </ul>
</nav>
