<nav
  class='z-50 hidden w-full items-center justify-center gap-x-28 pt-8 text-xl font-bold text-accent-purple *:cursor-pointer *:list-none md:flex lg:absolute'
>
  <li><a>/</a></li>
  <li><a>Blogs</a></li>
  <li><a>Projects</a></li>
</nav>
