---
import NextIcon from '../icons/NextIcon.astro'
import HtmlIcon from '../icons/HtmlIcon.astro'
import CssIcon from '../icons/CssIcon.astro'
import JavascriptIcon from '../icons/JavascriptIcon.astro'
import TypescriptIcon from '../icons/TypescriptIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import NodeIcon from '../icons/NodeIcon.astro'
import MongodbIcon from '../icons/MongodbIcon.astro'
import MysqlIcon from '../icons/MysqlIcon.astro'
import PostgresqlIcon from '../icons/PostgresqlIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'
import ExpressIcon from '../icons/ExpressIcon.astro'
---

<section>
  <h2 class='pb-4 text-lg font-bold uppercase text-slate-100'>Skills</h2>
  <div
    class='grid grid-flow-col grid-rows-4 rounded-md bg-teal-400/10 py-2 *:m-2 *:flex *:flex-col *:items-center *:gap-y-1 sm:grid-rows-2'
  >
    <span>
      <HtmlIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >HTML</span
      >
    </span>

    <span>
      <CssIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >CSS</span
      >
    </span>

    <span>
      <JavascriptIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Javascript</span
      >
    </span>

    <span>
      <TailwindIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Tailwind</span
      >
    </span>

    <span>
      <ReactIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >React</span
      >
    </span>

    <span>
      <TypescriptIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Typescript</span
      >
    </span>

    <span>
      <NodeIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Node.js</span
      >
    </span>

    <span>
      <ExpressIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Express</span
      >
    </span>

    <span>
      <MongodbIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >MongoDB</span
      >
    </span>

    <span>
      <NextIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >Next.js</span
      >
    </span>

    <span>
      <PostgresqlIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >PostgreSQL</span
      >
    </span>

    <span>
      <MysqlIcon />
      <span
        class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'
        >MySQL</span
      >
    </span>
  </div>
</section>
