---
import { Icon } from 'astro-icon/components'
import Nextjs from '../icons/Nextjs.astro'

const config = [
  {
    name: 'HTML',
    icon: 'html',
  },
  {
    name: 'CSS',
    icon: 'css',
  },
  {
    name: 'Javascript',
    icon: 'javascript',
  },
  {
    name: 'Tailwind',
    icon: 'tailwind',
  },
  {
    name: 'React',
    icon: 'react',
  },
  {
    name: 'Typescript',
    icon: 'typescript',
  },
  {
    name: 'Node.js',
    icon: 'nodejs',
  },
  {
    name: 'Express.js',
    icon: 'express',
  },
  {
    name: 'MongoDB',
    icon: 'mongodb',
  },
  {
    name: 'Next.js',
    icon: 'nextjs',
  },
  {
    name: 'PostgreSQL',
    icon: 'postgresql',
  },
  {
    name: 'MySQL',
    icon: 'mysql',
  },
]
---

<section>
  <h2 class='pb-4 text-lg font-bold uppercase text-slate-100'>Skills</h2>
  <div
    class='grid grid-cols-3 gap-4 rounded-md bg-teal-400/10 p-4 sm:grid-cols-6'
  >
    {
      config.map((item) => (
        <span class='flex flex-col items-center gap-y-1'>
          {item.icon !== 'nextjs' ? (
            <Icon name={item.icon} class='size-5 sm:size-6' />
          ) : (
            <Nextjs /> // astro-icons wasn't working properly with next.js icon
          )}
          <span class='rounded-full px-3 py-1 text-xs font-medium leading-5 text-teal-300'>
            {item.name}
          </span>
        </span>
      ))
    }
  </div>
</section>
