---
import GithubIcon from '../icons/GithubIcon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import XIcon from '../icons/XIcon.astro'
import DownloadIcon from '../icons/DownloadIcon.astro'
---

<div class='grid gap-8 lg:pt-48'>
  <ul
    class='flex items-center justify-center gap-x-5 lg:gap-8'
    aria-label='social links section'
  >
    <a target='_blank' href='https://github.com/devSaifur'>
      <label class='sr-only'>Github social link</label>
      <GithubIcon />
    </a>
    <a target='_blank' href='https://www.linkedin.com/in/dev-saifur'>
      <label class='sr-only'>Linkedin social link</label>
      <LinkedinIcon />
    </a>
    <a target='_blank' href='https://x.com/devSaifur'>
      <label class='sr-only'>X, formally Twitter social link</label>
      <XIcon />
    </a>
    <button
      class='focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md bg-slate-700 px-4 py-2 text-xs font-medium shadow transition-colors hover:bg-slate-700/90 focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 sm:text-sm'
    >
      <DownloadIcon />CV</button
    >
  </ul>
</div>
