---
import { Icon } from 'astro-icon/components'
---

<div class='grid gap-8 lg:pt-48'>
  <ul
    class='flex items-center justify-center gap-x-5 lg:gap-8'
    aria-label='social links section'
  >
    <a target='_blank' href='https://github.com/devSaifur'>
      <label class='sr-only'>Github social link</label>
      <Icon name='github' class='size-6 cursor-pointer sm:size-8' />
    </a>
    <a target='_blank' href='https://www.linkedin.com/in/dev-saifur'>
      <label class='sr-only'>Linkedin social link</label>
      <Icon name='linkedin' class='size-8 cursor-pointer sm:size-10' />
    </a>
    <a target='_blank' href='https://x.com/devSaifur'>
      <label class='sr-only'>X, formally Twitter social link</label>
      <Icon name='x' class='size-5 cursor-pointer sm:size-6' />
    </a>
    <button
      id='download-cv'
      class='focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md bg-slate-700 px-4 py-2 text-xs font-medium shadow transition-colors hover:bg-slate-700/90 focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 sm:text-sm'
    >
      <Icon name='download' class='mr-1 size-4' />CV</button
    >
  </ul>
</div>

<script is:inline>
  document.getElementById('download-cv').addEventListener('click', () => {
    const url =
      'https://cdn.jsdelivr.net/gh/devSaifur/saifur.dev/public/assets/Saifur%20Rahman%20(CV).pdf'

    fetch(url)
      .then((response) => response.blob())
      .then((blob) => {
        const link = document.createElement('a')
        link.href = URL.createObjectURL(blob)
        link.download = 'Saifur Rahman (CV).pdf'
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
      })
      .catch((error) => console.error('Error downloading the file:', error))
  })
</script>
