@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #ca8a04 #134e4a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

@layer base {
  :root {
    --accent: 255 190 111;
    --accent-purple: 202 166 247;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
